<div id="Menu">
  <span id="PathToIbatis">The path to iBATIS...</span>

  <br/>
  <br/>
  <img alt="Arrow" src="arrow.gif" border="0"/>
  <b>Get hype...</b><br/>
  <a href="index.html" title="What's new with iBATIS?">Home</a><br/>
  <a href="overview.html" title="Get an idea of what is included with iBATIS">Overview</a><br/>
  <a href="events.html" title="User groups, seminars, conferences etc.">Events</a><br/>
  <a href="archive.html" title="Old news from the past.">News Archive</a><br/>

  <br/>
  <img alt="Arrow" src="arrow.gif" border="0"/>
  <b>Get software...</b><br/>
  <a href="javadownloads.html" title="Everything you need to run iBATIS for Java">for Java</a><br/>
  <a href="dotnetdownloads.cgi" title="Everything you need to run iBATIS for .NET">for .NET</a><br/>
  <a href="docs/ruby" title="Everything you need to run iBATIS for Ruby (aka RBatis)">for Ruby/Rails</a><br/>
  <a href="tools.html" title="Tools related to iBATISs">Other Tools</a><br/>

  <br/>
  <img alt="Arrow" src="arrow.gif" border="0"/>
  <b>Get help...</b><br/>
  <a href="help.html" title="How To Get Help">How To Get Help</a><br/>
  <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home" title="iBATIS Wiki"
     target="_new">Wiki</a><br/>
  <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Frequently+Asked+Questions" title="iBATIS FAQ"
     target="_new">FAQ</a><br/>
  <a href="mailinglists.html" title="iBATIS Mailing Lists">Mailing Lists</a><br/>
  <a href="issuetracker.html" title="iBATIS Issue Tracker">Issue Tracker</a><br/>

  <br/>
  <img alt="Arrow" src="arrow.gif" border="0"/>
  <b>Get involved...</b><br/>
  <a href="background.html" title="Where did iBATIS come from, what does 'iBATIS' mean?">Background</a><br/>
  <a href="license.html" title="The Apache Software Foundation License 2.0">License</a><br/>
  <a href="http://svn.apache.org/repos/asf/ibatis/trunk" title="Subversion Repository" target="_new">Subversion</a>
    <a href="http://fisheye3.cenqua.com/viewrep/ibatis" title="FishEye Repository Browser" target="_new">(FishEye)</a><br/>
  <a href="team.html" title="Who's responsible for iBATIS?">Team</a><br/>
  <a href="bylaws.html" title="How do we operate?">Bylaws</a><br/>
  <a href="status.html" title="Where are we at?">Status</a><br/>
  <br/>
  <br/>
  <a href="http://www.cenqua.com/fisheye"><img src="http://www.cenqua.com/images/fisheyed2.gif" width="89" height="33" border="0" alt="Source Perspective by FishEye"/></a>
</div>
