<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-mapper-3.dtd">

<mapper namespace="domain.blog.mappers.AuthorMapper">

  <parameterMap id="selectAuthor"
                type="domain.blog.Author">
    <parameter property="id"/>
  </parameterMap>

  <resultMap id="selectAuthor" type="domain.blog.Author">
    <id column="id" property="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="email" column="email"/>
    <result property="bio" column="bio"/>
    <result property="favouriteSection" column="favourite_section"/>
  </resultMap>

  <resultMap id="selectImmutableAuthor" type="domain.blog.ImmutableAuthor">
    <constructor>
      <id column="id" javaType="int"/>
      <result column="username" javaType="string"/>
      <result column="password" javaType="string"/>
      <result column="email" javaType="string"/>
      <result column="bio" javaType="string"/>
      <result column="favourite_section" javaType="domain.blog.Section"/>
    </constructor>
  </resultMap>

  <select id="selectAllAuthors"
          resultType="domain.blog.Author">
    select * from author
  </select>

  <select id="selectAuthor"
          parameterMap="selectAuthor"
          resultMap="selectAuthor">
    select id, username, password, email, bio, favourite_section
    from author where id = ?
  </select>

  <select id="selectImmutableAuthor"
          parameterMap="selectAuthor"
          resultMap="selectImmutableAuthor">
    select id, username, password, email, bio, favourite_section
    from author where id = ?
  </select>

  <select id="selectAuthorWithInlineParams"
          parameterType="int"
          resultType="domain.blog.Author">
    select * from author where id = #{id}
  </select>

  <insert id="insertAuthor"
          parameterType="domain.blog.Author">
    insert into Author (id,username,password,email,bio)
    values (#{id},#{username},#{password},#{email},#{bio})
  </insert>

  <update id="updateAuthor"
          parameterType="domain.blog.Author">
    update Author
    set username=#{username},password=#{password},email=#{email},bio=#{bio}
    where id=#{id}
  </update>

  <delete id="deleteAuthor"
          parameterType="int">
    delete from Author where id = #{id}
  </delete>

</mapper>