<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-mapper-3.dtd">

<mapper namespace="com.domain.BlogMapper">

  <resultMap id="blogWithPosts" type="Blog">
    <id property="id" column="id" />
    <result property="title" column="title" />
    <collection property="posts" column="id" javaType="Post" select="selectPostsForBlog" />
  </resultMap>

  <select id="selectBlogWithPostsUsingSubSelect" parameterType="int" resultMap="blogWithPosts">
    select * from Blog where id = ${id}
  </select>
  
  <select id="selectPostsForBlog" parameterType="int" resultType="Post" >
    select * from Post where blog_id = ${blog_id}
  </select>

</mapper>