<mapper type="com.domain.PersonMapper">

  <defaultCache cacheType="MyLRU" cacheDomain="PersonMapper"/>

  <resultMap id="" type="" extends="">
    <constructor>
      <id column="" javaType="" jdbcType="" typeHandler=""/>
      <result column="" javaType="" jdbcType="" typeHandler=""/>
    </constructor>
    <result property="" column="" javaType="" jdbcType="" typeHandler=""/>
    <collection property="" column="" javaType="" select="" resultMap=""/>
    <discriminator column="" javaType="" jdbcType="">
      <case value="" resultMap=""/>
      <case value="" resultMap=""/>
      <default value="" resultMap=""/>
    </discriminator>
  </resultMap>

  <select id="selectAllPeople" cacheType="" cacheDomain=""
          flushCache="" parameterType="" resultType="" resultMap="">
    select * from PERSON order by
    ${opts.order,javaType="",jdbcType="",typeHandler="",mode="",scale="",resultMap=""}
  </select>
  
  <select id="selectPersonInDept" cacheType="" cacheDomain=""
          flushCache="" parameterType="" resultType=""
          resultMap="">
    <param property="id" javaType="" jdbcType="" typeHandler=""
           mode="" scale="" resultMap=""/>
    <param property="dept" javaType="" jdbcType="" typeHandler=""
           mode="" scale="" resultMap=""/>
    select * from PERSON
    where PERSON_ID = #param.id --or #{params.id}
    <!-- if(expr) foreach(x,expr) dynamic() propavail(name)
  ... common(prepend,open,conjuction,close) -->
    <if expr="param.deptId != null">
      and DEPT_ID =
      #{param.deptId,javaType="",jdbcType="",typeHandler="",mode="",scale="",resultMap=""}
    </if>
  </select>

</mapper>