<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-mapper-3.dtd">

<mapper namespace="com.domain.PersonMapper">

  <cache-ref namespace=""/>

  <cache type="PERPETUAL" eviction="LRU" flushInterval="3600000" size="1000" readOnly="false">
    <property name="" value=""/>
  </cache>
  
  <parameterMap id="" type="">
    <parameter property="id" javaType="" jdbcType="" typeHandler=""
           mode="IN" scale="" resultMap=""/>
    <parameter property="dept" javaType="" jdbcType="" typeHandler=""
           mode="IN" scale="" resultMap=""/>
  </parameterMap>

  <resultMap id="" type="" extends="">
    <constructor>
      <id column="" javaType="" jdbcType="" typeHandler="" />
      <result column="" javaType="" jdbcType="" typeHandler=""/>
    </constructor>
    <result property="" column="" javaType="" jdbcType="" typeHandler=""/>
    <collection property="" column="" javaType="" select="" resultMap=""/>
    <discriminator column="" javaType="" jdbcType="">
      <case value="" resultMap=""/>
      <case value="" resultMap=""/>
    </discriminator>
  </resultMap>

  <select id="selectAllPeople" useCache="true" flushCache="false" parameterType="" resultType="" resultMap="">
    select * from PERSON order by
    ${opts.order,javaType="",jdbcType="",typeHandler="",mode="",scale="",resultMap=""}
  </select>
  
  <select id="selectPersonInDept" parameterType="" resultType="" resultMap="">
    select * from PERSON
    where PERSON_ID = #param.id --or #{params.id}
  </select>

</mapper>