<html>
<head>    
    <title>Abator for iBATIS</title>
</head>

<body>

<h2>Introduction to Abator</h2>
<p><b>Abator:</b> <i>One who abates a nuisance.</i></p>

<p>Abator is a code generator for iBATIS.
 Abator will introspect a database
 table (or many tables) and will generate iBATIS artifacts that can be used to 
 access the table(s).  This lessens the initial nuisance of setting up objects and configuration
 files to interact with database tables.  Abator seeks to make a major impact on the large
 percentage of database operations that are simple CRUD (Create, Retrieve, Update, Delete).  You will
 still need to hand code SQL and objects for custom queries, or stored procedures.
</p>
<p>Abator will generate:</p>
<ul>
  <li>SqlMap XML Files</li>
  <li>Java Classes to match the primary key and fields of the table(s)</li>
  <li>DAO Classes that use the above objects (optional)</li>
</ul>

<p>Abator can run as a standalone JAR file, or as an Ant task, or as an Eclipse plugin.</p>

<p>Abator is currently classified as an Alpha level release.  It has been extensively tested with DB2 and MySql.  Please help us test
 (especially on other platforms), and report any feedback or errors
 to the Java user list.</p>

<h3>Abator News</h3>
<p>(April 30, 2006) <b>Version 0.6.5 is that last version of the Eclipse plugin that will be
   compatible with Eclipse 3.0 or the Rational 6.0 Tools.</b></p>
<p>(April 30, 2006) Updated Abator and the Eclipse plugin to 0.6.5  Several minor features and
   bug fixes are included.  See the release notes for more information.</p>
<p>(February 20, 2006) Updated the Eclipse plugin to 0.6.2  This fixes the problem where Abator
   conflicted with other XML enabled plugins like oXygen in Eclipse 3.1.</p>
<p>(February 17, 2006) Updated the Eclipse plugin to 0.6.1  The plugin now has
   the latest version of Abator.  Also added an Eclipse enabled Ant task for running Abator
   with Eclipse's integrated Ant support.</p>
<p>(February 16, 2006) Updated the standalone version to 0.6.1  Added support for running Abator
  in true standalone mode from the command line.  Also fixed some minor bugs.</p>

<h2>Standalone Jar Download</h2>
<ul>
  <li><a href="http://cvs.apache.org/builds/ibatis/alpha/abator-0.6.5-124.zip">
      Abator 0.6.5 w/Binaries and Source</a>
  </li>
</ul>
<p>Use this download to run Abator Standalone or with Ant.  
   Documentation is included in the README.TXT file in the download</p>

<h2>Eclipse Plugin</h2>

<p>When run as an Eclipse plugin, Abator will persist the generated Java classes and SqlMap files
 in Eclipse projects.  Abator can be run iteratively multiple time as the database design matures 
- and any hand coded additions to generated Java classes or SqlMap files will remain undisturbed.</p>

<p>Documentation for Abator is integrated into the Eclipse help system.</p>
 
<h3>Requirements</h3>
<ul>
  <li>Eclipse 3.0 or higher (including Rational Application Developer/Software Architect 6.0)</li>
  <li>JDK 1.4 or Higher</li>
</ul>
<h3>Automatic Eclipse Install</h3>
<p>If you've already installed a prior version of Abator, simply run the Eclipse Install/Update
 tool and the new version will be found automatically.</p>
<p>If you've not already installed Abator, then you can use the built in Eclipse 
   install support by following these steps:</p>
<ol>
  <li>Take the "Help&gt;Software Updates&gt;Find and Install" Menu Option</li>
  <li>Select the "Search for new features to install" radio button, press "Next"</li>
  <li>Press the "New Remote Site" button</li>
  <li>Enter the following information:
    <dl>
      <dt>Name:</dt>
      <dd>Abator for iBATIS Update Site</dd>
      <dt>URL:</dt>
      <dd>http://ibatis.apache.org/tools/abator</dd>
    </dl>
  </li>
  <li>Press OK</li>
  <li>Check the box next to "Abator for iBATIS Update Site"</li>
  <li>Follow the remainder of the install wizard</li>
</ol>
<h3>Manual Eclipse Install</h3>
<p>The automatic install is much preferred, but you can also install Abator manually if you
 desire. To install manually, download the file
 <a href="http://cvs.apache.org/builds/ibatis/alpha/AbatorForEclipse0.6.5.zip">AbatorForEclipse0.6.5.zip</a>
 and unzip
 the file to some convenient location.  Then follow these steps in Eclipse:</p>
<ol>
  <li>Take the "Help&gt;Software Updates&gt;Find and Install" Menu Option</li>
  <li>Select the "Search for new features to install" radio button, press "Next"</li>
  <li>Press the "New Local Site" button</li>
  <li>Navigate to the location where you unzipped the file.</li>
  <li>Press OK</li>
  <li>Follow the remainder of the install wizard</li>
</ol>

</body>

</html>