<html>
<head>    
    <title>About iBATIS</title>
</head>

<body>

<h2>What is iBATIS?</h2>

<p>The iBATIS framework makes it easier to use a database with Java and .NET applications. iBATIS couples objects with stored procedures or SQL statements using a XML descriptor.  Simplicity is the biggest advantage of the iBATIS Data Mapper over object relational mapping tools. To use iBATIS Data Mapper you rely on your own objects, XML, and SQL. There is little to learn that you don't already know.  With iBATIS Data Mapper you have the full power of both SQL and stored procedures at your fingertips.
</p><p>
iBATIS is in the process of migrating to the Apache Software Foundation. Once we have passed through the Apache Incubator, iBATIS will become a top-level Apache project.</p>

</body>
</html>
