<html>
<head>    
<title>iBATIS Downloads</title>
</head>

<body>

<h2>iBATIS.NET Downloads</h2>

      <h4>Downloading</h4>
        <a name="Downloads"></a>
        <p>Use the links below to download a binary distribution of the iBATIS.NET Data Mapper or
        iBATIS.NET Data Access Objects framework from one of our mirrors.
        It is good practice to verify the integrity of the distribution files, especially if you are using one of
        our mirror sites..</p>
        <p>The Data Mapper and Data Access Objects frameworks are distributed as <code>zip</code>
        archives.</p>
        <p>If you do not see the file you need in the links below, please see the
        <a href="http://www.apache.org/dist/ibatis/">main distribution directory</a> or,
        preferably, its <a href="[preferred]/ibatis/">mirror</a>.</p>

      <h4>Mirrors</h4>
        <a name="Mirror"></a>
        <p>You are currently using <b>[preferred]</b>.  If you encounter a problem with this
        mirror, please select another mirror.  If all mirrors are failing, there are
        <i>backup</i> mirrors (at the end of the mirrors list) that should be available.</p>

        <form action="[location]" method="get" id="SelectMirror">
        <p>Other mirrors:
            <select name="Preferred"> [if-any http] [for http]<option value="[http]">[http]</option>[end][end][if-any ftp]  [for ftp]<option value="[ftp]">[ftp]</option>[end][end][if-any backup]  [for backup]<option value="[backup]">[backup] (backup)</option>[end][end]</select>
            <input type="submit" value="Change" />
        </p>
        </form>

    <h4>Releases</h4>
    <ul>
      <li><a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataMapper-bin-1.5.1.zip" onClick="javascript:urchinTracker('/downloads/DataMapper151');">DataMapper 1.5.1</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataMapper-bin-1.5.1.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataMapper-bin-1.5.1.zip.asc">PGP</a>] (Apache General Availability)</li>
      <li><a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataAccess-bin-1.8.1.zip" onClick="javascript:urchinTracker('/downloads/DataAccess181');">DataAccess 1.8.1</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataAccess-bin-1.8.1.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataAccess-bin-1.8.1.zip.asc">PGP</a>] (Apache General Availability)</li>
      <li><a href="[preferred]/ibatis/source/ibatis.net/Source-revision-426164.zip" onClick="javascript:urchinTracker('/downloads/DotNetSource426164');">Source Revision 426164</a> [<a href="[preferred]/ibatis/source/ibatis.net/Source-revision-426164.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/source/ibatis.net/Source-revision-426164.zip.asc">PGP</a>]</li>
    </ul>
    
    <ul>
      <li><a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataMapper-bin-1.3.0.zip" onClick="javascript:urchinTracker('/downloads/DataMapper130');">DataMapper 1.3</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataMapper-bin-1.3.0.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataMapper-bin-1.3.0.zip.asc">PGP</a>] (Apache General Availability)</li>
      <li><a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataAccess-bin-1.7.0.zip" onClick="javascript:urchinTracker('/downloads/DataAccess170');">DataAccess 1.7</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataAccess-bin-1.7.0.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/IBatisNet.DataAccess-bin-1.7.0.zip.asc">PGP</a>] (Apache General Availability)</li>
      <li><a href="[preferred]/ibatis/source/ibatis.net/Source.356824.zip" onClick="javascript:urchinTracker('/downloads/DotNetSource356824');">Source Revision 356824</a> [<a href="[preferred]/ibatis/source/ibatis.net/Source.356824.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/source/ibatis.net/Source.356824.zip.asc">PGP</a>]</li>
    </ul>

    <ul>
          <li><a href="http://sourceforge.net/project/showfiles.php?group_id=109704">Old Releases (at SourceForge)</a></li>
    </ul>

  <h4>Examples</h4>
    <ul>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/Tutorial-1.2.1.zip?download">DataMapper Tutorial 1.2.1 Docs and Source</a></li>
      <li><a href="http://prdownloads.sourceforge.net/ibatisnet/NPetshop-1.0.0.RC1.zip?download">NPetShop Example Application</a></li>
    </ul>
    <ul>
      <li><a href="http://people.apache.org/dist/ibatis/ibatis.net/beta/tutorial2.zip" onClick="javascript:urchinTracker('/downloads/DataMapperTutorial20');">DataMapper Tutorial .NET 2.0 Beta</a> [<a href="http://people.apache.org/dist/ibatis/ibatis.net/beta/tutorial2.zip.md5">MD5</a>] [<a href="http://people.apache.org/dist/ibatis/ibatis.net/beta/tutorial2.zip.asc">PGP</a>]</li>
    </ul>

    <h4>Documentation </h4>

    <ul>
      <li>
        English
        <ul>
          <li><a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataMapper-1.5.1.zip" onClick="javascript:urchinTracker('/downloads/DataMapperDoc151');">DataMapper 1.5.1 GA Docs</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataMapper-1.5.1.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataMapper-1.5.1.zip.asc">PGP</a>] (CHM, PDF)</li>
          <li><a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataAccess-1.8.1.zip" onClick="javascript:urchinTracker('/downloads/DataAccessDoc181');">DataAccess 1.8.1 GA Docs</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataAccess-1.8.1.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataAccess-1.8.1.zip.asc">PGP</a>] (CHM, PDF)</li>
        </ul>
	<br/>
        <ul>
          <li><a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataMapper-1.3.0.zip" onClick="javascript:urchinTracker('/downloads/DataMapperDoc13');">DataMapper 1.3 GA Docs</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataMapper-1.3.0.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataMapper-1.3.0.zip.asc">PGP</a>] (CHM, PDF, and SDK Help)</li>
          <li><a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataAccess-1.7.0.zip" onClick="javascript:urchinTracker('/downloads/DataAccessDoc17');">DataAccess 1.7 GA Docs</a> [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataAccess-1.7.0.zip.md5">MD5</a>] [<a href="[preferred]/ibatis/binaries/ibatis.net/Doc-DataAccess-1.7.0.zip.asc">PGP</a>] (CHM, PDF, and SDK Help)</li>
        </ul>
      </li>
    </ul>

</body>

</html>
