<html>
<head>
  <title>iBATIS News</title>
</head>

<body>
<div id="Block">
  <table class="quickTable" >
    <tbody>
      <tr>
        <th class="java"><a href="javadownloads.html">iBATIS for Java</a></th>
        <th class="cs"><a href="dotnetdownloads.cgi">iBATIS for .NET</a></th>
        <th class="rb"><a href="docs/ruby">iBATIS for Ruby</a></th>
      </tr>
    </tbody>
  </table>

  <img alt="iBATIS Data Mapper process" src="flow.jpg" align="right"/>

  <h2>What is iBATIS?</h2>

  <p>The <a title="iBATIS DataMapper framework" href="overview.html">
    iBATIS Data Mapper framework</a> makes it easier to use a database with Java and
    .NET applications. iBATIS couples objects with stored procedures or SQL statements
    using a XML descriptor. Simplicity is the biggest advantage of the iBATIS Data
    Mapper over object relational mapping tools.</p>

  <p>To use the iBATIS Data Mapper, you rely on
    your own objects, XML, and SQL. There is little to learn that you don't already
    know. With the iBATIS Data Mapper, you have the full power of both SQL and stored
    procedures at your fingertips.</p>

  <p>Are you interested but want to know what others have said? Well, first see the various
    <a title="iBATIS Articles and Other Coverage"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Articles+and+other+coverage+of+iBATIS"
       target="_new">articles and books</a>
    that have covered iBATIS and read some of our
    <a title="iBATIS Feedback"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Feedback+and+Experiences" target="_new">user
      feedback</a>.
    Then, learn how to simple it is to use the iBATIS Data Mapper by reading our
    <a title="SQL Maps for Java Tutorial"
       href="http://cvs.apache.org/dist/ibatis/ibatis.java/docs/iBATIS-SqlMaps-2-Tutorial.pdf">Java Tutorial</a> or <a
      title="iBATIS.NET DataMapper Quick Start Guide"
      href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Quick+Start+Guide" target="_new">.NET Quick
    Start Guide</a>!</p>

</div>

<h2>News</h2>


<h3>Fall is a great time for a conference!</h3>
 <p>(Jul 30, 2006) We've just added two new events to the calendar.  <b>Calgary in September:</b> Clinton will be
   presenting on all things iBATIS, Ajax, Agile and ...erm, Ruby.  Not that he's a buzzword chaser or
   anything.  <b>Texas in October:</b>  For those who want to stay away from any potential for snow in October,
   our very own Jeff Butler will be leading an iBATIS tutorial session at ApacheCon. </p>
<p><a href="events.html">See the Events Calendar for more.</a></p>

<h3>RBatis - iBATIS for Ruby has been released!</h3>
 <p>(Jul 30, 2006) As promised almost exactly one year ago...iBATIS for Ruby is now here. Jon Tirsen
   has joined the team and RBatis is ready to roll with a plug-in for Rails of course. You can see
   the permanent link in the Path to iBATIS on the left, but don't waste time moving your mouse....</p>
<p><a href="docs/ruby">Check it out!</a></p>

<h3>DTDs @ iBATIS.com - The Deed has been done</h3>
 <p>(Jul 30, 2006) The DTDs hosted at iBATIS.com have been permanently removed. The multiple warnings
 went starting with a broadcast announcement to the mailing lists and a permanent space on the homepage.
 With over 1.5 million hits to the DTD per month, it was time to move the burden over to the Apache servers.  ;-)
 If you're a year behind on your email and using an old version of iBATIS, and you're wondering why
 your application won't start anymore...try changing the DOCTYPE of your XML files to the following.</p>

<pre>&lt;!DOCTYPE sqlMapConfig <br/>
          PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" <br/>
          "http://ibatis.apache.org/dtd/sql-map-config-2.dtd"&gt;
</pre>
<pre>&lt;!DOCTYPE sqlMap <br/>
          PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" <br/>
          "http://ibatis.apache.org/dtd/sql-map-2.dtd"&gt;
</pre>
<pre>&lt;!DOCTYPE daoConfig <br/>
          PUBLIC "-//ibatis.apache.org//DTD DAO Configuration 2.0//EN" <br/>
          "http://ibatis.apache.org/dtd/dao-2.dtd"&gt;
</pre>

  <p><b>Notice the change to <a href="http://ibatis.apache.org/dtd/">http://ibatis.apache.org/dtd/</a></b></p>

<h3>iBATIS.NET DataMapper 1.5.1 and DataAccess 1.8.1 Beta!</h3>
 <p>(Jul 27, 2006) This release is primarily a bug fix for new constructor tag.</p>

 <p>Thanks again for your comments and suggestions. Enjoy!</p>

 <p>See the change log for more details.  Downloads will be available from <a href="http://ibatis.apache.org/dotnetdownloads.cgi">the iBATIS.NET downloads page.</a></p>

</body>
</html>