<html>
<head>
  <title>iBATIS News</title>
</head>

<body>
<div id="Block">
  <table class="quickTable" >
    <tbody>
      <tr>
        <th class="java"><a href="javadownloads.cgi">iBATIS for Java</a></th>
        <th class="cs"><a href="dotnetdownloads.cgi">iBATIS for .NET</a></th>
        <th class="rb"><a href="docs/ruby">iBATIS for Ruby</a></th>
      </tr>
    </tbody>
  </table>

  <img alt="iBATIS Data Mapper process" src="flow.jpg" align="right"/>

  <h2>What is iBATIS?</h2>

  <p>The <a title="iBATIS DataMapper framework" href="overview.html">
    iBATIS Data Mapper framework</a> makes it easier to use a database with Java and
    .NET applications. iBATIS couples objects with stored procedures or SQL statements
    using a XML descriptor. Simplicity is the biggest advantage of the iBATIS Data
    Mapper over object relational mapping tools.</p>

  <p>To use the iBATIS Data Mapper, you rely on
    your own objects, XML, and SQL. There is little to learn that you don't already
    know. With the iBATIS Data Mapper, you have the full power of both SQL and stored
    procedures at your fingertips.</p>

  <p>Are you interested but want to know what others have said? Well, first see the various
    <a title="iBATIS Articles and Other Coverage"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Articles+and+other+coverage+of+iBATIS"
       target="_new">articles and books</a>
    that have covered iBATIS and read some of our
    <a title="iBATIS Feedback"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Feedback+and+Experiences" target="_new">user
      feedback</a>.
    Then, learn how to simple it is to use the iBATIS Data Mapper by reading our
    <a title="SQL Maps for Java Tutorial"
       href="http://cvs.apache.org/dist/ibatis/ibatis.java/docs/iBATIS-SqlMaps-2-Tutorial_en.pdf">Java Tutorial</a> or <a
      title="iBATIS.NET DataMapper Quick Start Guide"
      href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Quick+Start+Guide" target="_new">.NET Quick
    Start Guide</a>!</p>

</div>

  <h2>News</h2>

 <h3>iBATIS.NET DataMapper 1.6.1 and DataAccess 1.9.1 Released [Status: Beta]</h3>
<p>(March 1, 2007) The iBATIS.NET team is proud to announce that the BETA release of DataAccess V1.9.1 and DataMapper V1.6.1 are now available.</p>
 
<p>This release includes bug fixes and enhancements.<br/> 
 
<p>Vote to General Availability status is expecting in two weeks.
Thanks once again for your feedback. Enjoy!</p>

<a onclick="ShowHide('DataMapper161')" class="release">Show/Hide Release Notes - Version DataMapper 1.6.1</a>
<div style="display:none" id="DataMapper161"  class="release">       
    
<h4>Bug</h4>
<ul>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-206'>IBATISNET-206</a>] - groupBy incorrectly handles left outer join results where right part is empty</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-207'>IBATISNET-207</a>] - Typos in documentation section 3.5.2.4</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-210'>IBATISNET-210</a>] - Finding properties on interfaces which "inherites" other interfaces</li>
</ul>
    
<h4>Improvement</h4>
<ul>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-209'>IBATISNET-209</a>] - Improved verification on groupBy process configuration</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-212'>IBATISNET-212</a>] - Add the ability to track Open Transactions via IDalSession</li>
</ul>

</div>
<p/>
<p><b><a href="dotnetdownloads.cgi">Download iBATIS.NET DataMapper 1.6.1 and DataAccess 1.9.1 (BETA)!</a></b></p>
================================================================
  <h3>iBATIS for Java 2.3.0 General Availability</h3>
  <p>(February 11, 2007) The votes are in an iBATIS for Java 2.3.0 is promoted to
     Apache general availability status.  This release includes several bug fixes
     and enhancements.
     Additionally, this release offers new support for local caching of prepared statements.
     Caching prepared statements can lead to significant performance improvements
     in many environments.</p>
  <p>The Java DAO framework has been removed from iBATIS as of release
     2.3.0.  We heartily recommend that you consider using the
     <a href="http://www.springframework.org" target="_blank">Spring Framework</a>
     for all your DAO needs!  Spring offers great support for iBATIS.</p>
  <p>The paginated list methods have been deprecated with this release.  The methods were confusing
     to many users and often misused.  We suggest using native database support for paging,
     or that you use the query methods with skip and max settings.</p>
  <p><b><a href="javadownloads.cgi">Download iBATIS 2.3.0!</a></b></p>
  
  <h3>iBATIS.NET DataMapper 1.6.0 and DataAccess 1.9.0 Released [Status: Beta]</h3>
<p>(February 1, 2007) The iBATIS.NET team is proud to announce that the BETA release of DataAccess V1.9.0 and DataMapper V1.6.0 are now available.</p>
 
<p>This release includes several bug fixes and enhancements.<br/> 
The main new addition is the support to <b>groupBy</b> attribute on resultMap to <b>resolve N+1 select</b> issue.</p>
 
<p>We expect that there will be a vote to promote to General Availability status in two weeks.
Thanks once again for your comments and suggestions. Enjoy!</p>

<a onclick="ShowHide('DataMapper16')" class="release">Show/Hide Release Notes - Version DataMapper 1.6</a>
<div style="display:none" id="DataMapper16"  class="release">       
<h4>Bug</h4>
<ul>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-178'>IBATISNET-178</a>] - ConfigWatcherHandler does not wok with the changes of DataMaps files</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-184'>IBATISNET-184</a>] - Invalid support for public/protected field in result property</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-186'>IBATISNET-186</a>] - Fix select on argument property on constructor tag</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-188'>IBATISNET-188</a>] - MethodAccessException in emitted code</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-189'>IBATISNET-189</a>] - Missing Typehandler for nullable timespan</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-191'>IBATISNET-191</a>] - Allows Cache for Procedure / Statement tag</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-198'>IBATISNET-198</a>] - Cache key for accessors can be ambiguous and can cause cast exceptions</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-202'>IBATISNET-202</a>] - QueryForDictionary  does not process select property</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-203'>IBATISNET-203</a>] - SqlMap.xsd element "result" in element "resultMap" is not required but marked as required from schema.</li>
</ul>
    
<h4>Improvement</h4>
<ul>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-179'>IBATISNET-179</a>] - Allow procedure statement without parameterMap</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-185'>IBATISNET-185</a>] - Allow custom ISessionStoreFactory</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-196'>IBATISNET-196</a>] - Improved stored procedure parameters analysis</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-199'>IBATISNET-199</a>] - Add support for QueryForObject and GroupBy</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-204'>IBATISNET-204</a>] - DataMapper SqlMap.xsd SqlMap elements order</li>
</ul>
    
<h4>New Feature</h4>
<ul>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-116'>IBATISNET-116</a>] - Add support for iBATIS for Java's <include> tag in sql map files.</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-180'>IBATISNET-180</a>] - Extends use of ISqlMapper in DataMapper + allow use of a custom ISqlMapper</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-181'>IBATISNET-181</a>] - Allow mapping of multiple result sets</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-192'>IBATISNET-192</a>] - Add support for IDictionary<K, V> QueryForDictionary<K, V>(...)</li>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-193'>IBATISNET-193</a>] - N+1 Select resolution</li>
</ul>
                    
<h4>Wish</h4>
<ul>
<li>[<a href='https://issues.apache.org/jira/browse/IBATISNET-104'>IBATISNET-104</a>] - QueryForXXX do not check cache before opening/closing connection</li>
</ul>
</div>
<p/>
<p><b><a href="dotnetdownloads.cgi">Download iBATIS.NET DataMapper 1.6.0 and DataAccess 1.9.0 (BETA)!</a></b></p>

  <h3>iBATIS in Action Released</h3>
  <p>(January 26, 2007) A book for iBATIS?  No way!  Yes way.  The book is here.
  This is the first edition, targeting primarily the Java platform.  But it's
  definitely useful for .NET and even Ruby users, even if only to understand
  the concepts and and ideas behind iBATIS.  Everything else is just syntax.  Some people
  may wonder if we're just trying to make money by selling documentation (sounds
  familiar to some no doubt).  But trust us, writing technical books is NO way
  to make money!  We did this for you, so you'd have a definitive guide to read
  from instead of wading through various internet resources. I think we're more
  worried about the Amazon.com comments than the sales... ;-)  I (Clinton) really
  want to say what a fantastic experience it was to work with Brandon and Larry
  on this project.  You guys did a fantastic job.</p>
  <p><b><a href="http://www.manning.com/begin/">Buy the book in print or PDF here.</a></b></p>

  <h3>DAO Deprecated and Made Available Separately</h3>
  <p>(January 26, 2007) This is a little late notice, but iBATIS for Java 2.3 has enough
  votes to go GA now, so I figured it would be good to note here.  The DAO
  framework has indeed been deprecated.  Deprecated doesn't mean dead.  Many people
  can and will continue to use it.  In fact, it will be a bit cleaner because
  it's made available separately so you can feel more comfortable changing it if you
  need to.  Feel free to take the code and make it your own.  Or just use it as
  is until it gets too old (it's pretty easy to switch iBATIS DAOs to Spring DAOs
  if and when the time is right).  We've made the Java DAO framework permanently available
  on the Java downloads page.  Deprecated basically means we just won't be
  adding any features to it in the future, which is pretty much the same way it's been
  for a couple of years -- I guess it's perfect. ;-)  Kidding.</p>
  <p><b><a href="javadownloads.cgi">The DAO framework will always be available here.</a></b></p>


  <h3>iBATIS for Java 2.2.0 General Availability</h3>
  <p>(December 5, 2006) The votes are in and iBATIS for Java 2.2.0 is promoted
    to general availabilty status.  This release is the most significant release
    of iBATIS in at least a year.  See the
    release notes on the download page for full details.
    This is the last release of iBATIS that will include the DAO framework.</p>
  <p><b><a href="javadownloads.cgi">Download iBATIS 2.2.0!</a></b></p>

  <h3>ARTICLE: InfoQ has posted an article on iBATIS.NET</h3>
  <p>
  <a href="http://www.infoq.com/news/2006/11/iBATIS-MySpace" target="_blank">Read it !</a>
  <p/>
  Thanks to the InfoQ team!
  </p>

  <h3>iBATIS.NET DataMapper 1.5.1 and DataAccess 1.8.1 General Availability!</h3>
  <p>(August 10, 2006) The votes are in and both distributions are now tagged as GA!</p>
  <p>This release is primarily an enhancement release to support .NET 2.0 and also bug fix, documentation have been updated.
   iBATIS now supports all essential features of .NET 2.0 (generics, nullable types), see change log for more information.
   </p>
  <p><b><a href="dotnetdownloads.cgi">Download iBATIS.NET DataMapper 1.5.1 and DataAccess 1.8.1!</a></b></p>


  <h3>RBatis - iBATIS for Ruby has been released!</h3>
   <p>(Jul 30, 2006) As promised almost exactly one year ago...iBATIS for Ruby is now here. Jon Tirsen
     has joined the team and RBatis is ready to roll with a plug-in for Rails of course. You can see
     the permanent link in the Path to iBATIS on the left, but don't waste time moving your mouse....</p>
  <p><a href="docs/ruby">Check it out!</a></p>

  <h3>DTDs @ iBATIS.com - The Deed has been done</h3>
   <p>(Jul 30, 2006) The DTDs hosted at iBATIS.com have been permanently removed. The multiple warnings
   went starting with a broadcast announcement to the mailing lists and a permanent space on the homepage.
   With over 1.5 million hits to the DTD per month, it was time to move the burden over to the Apache servers.  ;-)
   If you're a year behind on your email and using an old version of iBATIS, and you're wondering why
   your application won't start anymore...try changing the DOCTYPE of your XML files to the following.</p>

  <pre>&lt;!DOCTYPE sqlMapConfig <br/>
            PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" <br/>
            "http://ibatis.apache.org/dtd/sql-map-config-2.dtd"&gt;
  </pre>
  <pre>&lt;!DOCTYPE sqlMap <br/>
            PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" <br/>
            "http://ibatis.apache.org/dtd/sql-map-2.dtd"&gt;
  </pre>
  <pre>&lt;!DOCTYPE daoConfig <br/>
            PUBLIC "-//ibatis.apache.org//DTD DAO Configuration 2.0//EN" <br/>
            "http://ibatis.apache.org/dtd/dao-2.dtd"&gt;
  </pre>

    <p><b>Notice the change to <a href="http://ibatis.apache.org/dtd/">http://ibatis.apache.org/dtd/</a></b></p>

</body>
</html>