<html>
<head>
  <title>iBATIS for Java Downloads</title>
</head>

<body>

<h2>iBATIS for Java Downloads</h2>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td rowspan="2" width="70%">
      <h4>Current Release  2.3.2 (JDK 1.5 Required)</h4>
      <ul>
        <li>
		  <a href="[preferred]/ibatis/binaries/ibatis.java/ibatis-2.3.2.715.zip"><b>Download iBATIS Java 2.3.2</b></a> 
          <br/> Includes binaries, source, and documentation
		  <br/> [Status: Beta | Apr 22, 2008]
		  <br/>
           [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.2.715.zip.md5">MD5</a>]
           [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.2.715.zip.asc">PGP</a>]
           
          <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=10601&styleName=Html&version=12312222">Release Notes </a><i>(2.3.1 because they're more relevant)</i>
        </li>
      </ul>

      <h4>Example Application</h4>
      <ul>
        <li><a href="[preferred]/ibatis/binaries/ibatis.java/JPetStore-5.0.zip">JPetStore 5.0 Example
          Application</a>
          [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/JPetStore-5.0.zip.md5">MD5</a>]
          [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/JPetStore-5.0.zip.asc">PGP</a>]
        </li>
      </ul>

      <h4>Documentation </h4>

      <p><b>Latest Documentation:</b> Note that the documentation for iBATIS is updated very frequently, so it is possible (likely)
        that there is newer documentation available in the Subversion repository than what is listed
        here. If in doubt, check Subversion. The documentation in Subversion is in Open Office format.
        This link will show the very latest version of all iBATIS for Java documentation:
      </p>

	  <ul>
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/en/" target="_new">English</a>
		  </li>        
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/de/" target="_new">German</a>
		  </li>
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/cn/" target="_new">Chinese</a>
		  </li>        
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/ko/" target="_new">Korean</a>
		  </li>        
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/ja/" target="_new">Japanese</a>
		  </li>        
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/fr/" target="_new">French (tutorial)</a>
		  </li>        
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/it/" target="_new">Italian (tutorial)</a>
		  </li>        
		  <li>        
		    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/docs/es/" target="_new">Spanish (tutorial)</a>
		  </li>        
	  </ul>
	  
      <p><b>Undocumented Stuff:</b>Although we try to keep the documentation as up-to-date as possible, sometimes the
        software simply evolves faster than the docs.  In these cases, we make a habit of listing the undocumented features
        on the wiki, here:
        <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Not+Yet+Documented" target="_new">Undocumented features.</a>
      </p>

    </td>
    <td style="background-color:#E8E8E8">
      <h4>Mirrors</h4>
      <p>The currently selected mirror is <b>[preferred]</b>.  If you encounter a problem with this
         mirror, please select another mirror.  If all mirrors are failing, there are
         <i>backup</i> mirrors (at the end of the mirrors list) that should be available.
         Note that with new releases it can up to 24 hours for the new files to be
         available on the mirrors.
      </p>

      <form action="[location]" method="get" id="SelectMirror">
        <p>Other mirrors:
           <select name="Preferred"> [if-any http] [for http]<option value="[http]">[http]</option>[end][end][if-any ftp]  [for ftp]<option value="[ftp]">[ftp]</option>[end][end][if-any backup]  [for backup]<option value="[backup]">[backup] (backup)</option>[end][end]</select>
           <input type="submit" value="Change" />
        </p>
      </form>
    </td>
  </tr>
  <tr style="background-color:#E8E8E8">
    <td>
      <h4>Tips</h4>
      <p>Use the links below to download a binary distribution of iBATIS for Java from one
         of our mirrors.  It is good practice to <a href="#verify">verify</a> the integrity of the
         distributions files, especially if you are using one of our mirror sites.
      </p>
      <h4>2.3.0 (JDK 1.4)</h4>
	  <p>The last JDK 1.4 compatible release was 2.3.0.  It is a stable release that was in production for over a year, but obviously lacks a few features
	  and fixes of the current release.  Sun will be <a href="http://java.sun.com/products/archive/eol.policy.html">discontinuing support</a> for JDK 1.4 in October of 2008.</p>
      <ul>
        <li>
		  <a href="[preferred]/ibatis/binaries/ibatis.java/ibatis-2.3.0.677.zip"><b>Download iBATIS Java 2.3.0</b></a>
          <br/>[<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.0.677.zip.md5">MD5</a>]
           [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.0.677.zip.asc">PGP</a>]         
           <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=10601&styleName=Html&version=12312035">Release Notes</a>
           <br/>[Status: General Availability | Dec 1, 2006]
        </li>
      </ul>
      <h4>DAO</h4>
      <p>The DAO Framework was deprecated in 2.3, but will remain permanently available
      as it was in 2.2.</p>
      <ul>
        <li>
		  <a href="[preferred]/ibatis/binaries/ibatis.java/iBATIS_DAO-2.2.0.638.zip"><b>Standalone DAO Framework 2.2.0</b></a>
		  <br/>[<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/iBATIS_DAO-2.2.0.638.zip.md5">MD5</a> | 
		  <a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/iBATIS_DAO-2.2.0.638.zip.asc">PGP</a> ]
		</li>
      </ul>
      <ul>
		<li>
			<a href="[preferred]/ibatis/binaries/ibatis.java/iBATIS_DBL-2.2.0.638.zip"><b>Full iBATIS Java 2.2.0 Release</b></a> 
	          <br/>[<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/iBATIS_DBL-2.2.0.638.zip.md5">MD5</a> | 
	          <a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/iBATIS_DBL-2.2.0.638.zip.asc">PGP</a> |
	          <a href="http://issues.apache.org/jira/secure/ReleaseNote.jspa?version=12310720&styleName=Text&projectId=10601&Create=Create">Notes</a>]
	          <br/>[Status: General Availability] (Aug 16, 2006)
		  </li>
      </ul>
      <p>If you do not see the file you need, or you're looking for an
      older version, please see the release archives.</p>
      <ul>
        <li><a href="http://archive.apache.org/dist/ibatis/binaries/ibatis.java/"><b>Past Releases at Apache (2.1.5+)</b></a></li>
        <li><a href="http://sourceforge.net/project/showfiles.php?group_id=61326">Past Releases at SourceForge (1.0 - 2.1.5)</a></li>
      </ul>
      <p>It is good practice to verify the integrity of the downloaded files using the PGP or MD5
         signatures.  The Apache HTTP Server project has a good page on
         why you should verify releases <a href="http://httpd.apache.org/dev/verification.html">here</a>.
      </p>
      <p>The PGP signatures can be verified using PGP or GPG. First download the
         <a href="http://www.apache.org/dist/ibatis/KEYS">KEYS</a>
         as well as the asc signature file for the relevant distribution.
         Make sure you get these files from the
         <a href="http://www.apache.org/dist/ibatis/">main distribution directory</a>, rather than
         from a mirror (the links above are correct in this manner). Then verify the signatures using
         pgp or gpg.</p>

      <p>Alternatively, you can verify the MD5 signature on the files. A unix program called
         <code>md5</code>
         or <code>md5sum</code> is included in many unix distributions. It is also available as
         part of
         <a href="http://www.gnu.org/software/textutils/textutils.html">GNU Textutils</a>.
         Windows users can get binary md5 programs from
         <a href="http://www.md5summer.org/">here</a>,
         <a href="http://www.fourmilab.ch/md5/">here</a>,
         <a href="http://www.pc-tools.net/win32/md5sums/">here</a>, or
         <a href="http://www.slavasoft.com/fsum/">here</a>.
      </p>

    </td>
  </tr>
</table>

</body>

</html>
