<html>
<head>    
    <title>iBATIS Team</title>
</head>

<body>

<h2>Committers</h2>

<ul>
  <li>Clinton Begin</li>
  <li>Gilles Bayon</li>
  <li>Brandon Goodin</li>
  <li>Larry Meadors</li>
  <li>Ron Grabowski</li>
  <li>Jeff Butler</li>
  <li>Nathan Maves</li>
  <li>Kai Grabfelder</li>
</ul>

<!-- Emeritus 
  <li>Ted Husted</li>
  <li>Roberto Rabe</li>
  <li>Sven Boden</li>
  <li>Brice Ruth</li>
  <li>Jon Tirsen</li>
-->

<h2>Thanks to...</h2>

<ul>
  <li>All of the authors of the articles, feedback and shared experiences that appear on our 
    <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home">wiki</a></li>
  <li>The Spring Team - For integration, improvements and involvement over the years. - http://www.springframework.org </li>
  <li>The Hibernate Team - For being good neighbours in a complex problem space. - http://www.hibernate.org</li>
  <li>The Castle Project - http://www.castleproject.org</li>
</ul>

</body>

</html>