<html>
  <head>
    <title>Thanks</title>
  </head>
  <body>
  <h2 align="center">Thanks!</h2>
  <p align="center">
    The iBATIS team would like to thank the following companies<br/>
    for providing complimentary access to their world-class software.  
  </p>
  <p>&nbsp;</p>
  <p align="center">
    <a target="_new" href="http://www.jetbrains.com"><img align="middle" src="http://www.jetbrains.com/img/logos/banner_general.gif" border="0" alt="JetBrains"/></a>
  </p>
  <p align="center">
    <a target="_new" href="http://www.atlassian.com"><img align="middle" src="http://search.atlassian.com/images/logo.gif" border="0" alt="Atlassian"/></a>
  </p>
  <p align="center">
    <a target="_new" href="http://www.viewtier.com"><img align="middle" src="http://www.eclipse.org/alf/images/viewtier_logo.gif" border="0" alt="Viewtier"/></a>
  </p>
  <p align="center">
    <a target="_new" href="http://www.cenqua.com/fisheye"><img src="http://www.cenqua.com/images/fisheyed2.gif" border="0" alt="Cenqua"/></a>
  </p>
  </body>
</html>