<html>
<head>
  <title>iBATIS News</title>
</head>

<body>
<div id="Block">
  <table class="quickTable" >
    <tbody>
      <tr>
        <th class="java"><a href="javadownloads.cgi">iBATIS for Java</a></th>
        <th class="cs"><a href="dotnetdownloads.cgi">iBATIS for .NET</a></th>
        <th class="rb"><a href="docs/ruby">iBATIS for Ruby</a></th>
      </tr>
    </tbody>
  </table>

  <img alt="iBATIS Data Mapper process" src="flow.jpg" align="right"/>

  <h2>What is iBATIS?</h2>

  <p>The <a title="iBATIS DataMapper framework" href="overview.html">
    iBATIS Data Mapper framework</a> makes it easier to use a database with Java and
    .NET applications. iBATIS couples objects with stored procedures or SQL statements
    using a XML descriptor. Simplicity is the biggest advantage of the iBATIS Data
    Mapper over object relational mapping tools.</p>

  <p>To use the iBATIS Data Mapper, you rely on
    your own objects, XML, and SQL. There is little to learn that you don't already
    know. With the iBATIS Data Mapper, you have the full power of both SQL and stored
    procedures at your fingertips.</p>

  <p>Are you interested but want to know what others have said? Well, first see the various
    <a title="iBATIS Articles and Other Coverage"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Articles+and+other+coverage+of+iBATIS"
       target="_new">articles and books</a>
    that have covered iBATIS and read some of our
    <a title="iBATIS Feedback"
       href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Feedback+and+Experiences" target="_new">user
      feedback</a>.
    Then, learn how to simple it is to use the iBATIS Data Mapper by reading our
    <a title="SQL Maps for Java Tutorial"
       href="http://cvs.apache.org/dist/ibatis/ibatis.java/docs/iBATIS-SqlMaps-2-Tutorial_en.pdf">Java Tutorial</a> or <a
      title="iBATIS.NET DataMapper Quick Start Guide"
      href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Quick+Start+Guide" target="_new">.NET Quick
    Start Guide</a>!</p>

</div>

  <h2>News</h2>

<h3>Call for Official QA/Testing Team Members</h3>
<p>(Jul 16, 2008) It seems that we have two very distinct types of teams using iBATIS:</p>
<ul>
  <li>Adventurous bleeding edge types</li>
  <li>Conservative stable types</li>
</ul>
<p>It's hard to cater to both groups, so we've come up with a way that these groups can help each other.  We've now provided access to 
a <b>Parabuild continuous build server</b>.  The software and hosting is graciously provided by <b>Viewtier Systems</b>.  This will
allow the bleeding edge types to simply download the latest and greatest software, without waiting for a formal release by us.</p>

<p><b>In addition, we'd like to invite some of these teams or individuals to become a formal QA/Testing group for iBATIS.</b></p>

<p>This doesn't have to mean a lot of work! The best candidates are teams with excellent test suites for their applications and those who use a lot of the different features
of iBATIS in different or even odd ways.  We especially want to target groups who are using <b>Spring</b> or other 3rd party software that integrates
or works closely with iBATIS.  Alone we cannot test every single deployment, but together we can.  This will allow us to learn about potential 
integration problems sooner and allow us to get to General Availability status faster.  
</p>
<p>The continuous integration link and instructions can be found on the <a href="javadownloads.cgi">Java Downloads</a> page.</p>
<p><b>If you'd like to register yourself or your team as a formal tester</b>, please send an email to the mailing list. Or to Clinton Begin if you'd 
like to remain anonymous (you should know my email if you're on the list). Of course I recommend you keep it wide open and identify yourselves both for 
credit and so that you can share knowledge with other testers or teams</p>
<p>Thanks to all!</p>

<h3>iBATIS 2.3.3 BETA Released.  And it will remain beta until...</h3>
<p>(Jul 16, 2008) Practically moments after promoting iBATIS 2.3.2 to GA, a number of nasty bugs were discovered, particularly with the Spring integration.  We refactored a lot of 
"internal" (i.e. non-client) code in these latest versions, and so as an end-user, you really need to test the betas!  So from now on, we're going to wait until we get enough confirmation 
from actual production implementations (either through test suites or staging environments) that things are working well.  I'm thinking at least 20 responses before moving to GA. Maybe in the long run we'll 
identify dedicated testers who are willing to update to the latest beta and run a comprehensive application test suite against it. </p>
<p><b><a href="javadownloads.cgi">Get the 2.3.3 Beta from the Java downloads page now!</a></b></p>

</body>
</html>
