<html>
  <head>
    <title>iBATIS News</title>
  </head>

  <body>
    <div id="Block">
    <img alt="iBATIS Data Mapper process" src="flow.jpg" align="right"/>
    <h2>What is iBATIS?</h2>

    <p>The <a title="iBATIS DataMapper framework" href="datamapper.html">
    iBATIS Data Mapper framework</a> makes it easier to use a database with Java and
    .NET applications. iBATIS couples objects with stored procedures or SQL statements
    using a XML descriptor. Simplicity is the biggest advantage of the iBATIS Data
    Mapper over object relational mapping tools.</p>

    <p>To use the iBATIS Data Mapper, you rely on
    your own objects, XML, and SQL. There is little to learn that you don't already
    know. With the iBATIS Data Mapper, you have the full power of both SQL and stored
    procedures at your fingertips.</p>

    <p>Are you interested but want to know what others have said? Well, first see the various
    <a title="iBATIS Articles and Other Coverage" href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Articles+and+other+coverage+of+iBATIS" target="_new">articles and books</a>
    that have covered iBATIS and read some of our
    <a title="iBATIS Feedback" href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Feedback+and+Experiences" target="_new">user feedback</a>.
    Then, learn how to simple it is to use the iBATIS Data Mapper by reading our
    <a title="SQL Maps for Java Tutorial" href="http://prdownloads.sourceforge.net/ibatisdb/iBATIS-SqlMaps-2-Tutorial.pdf?download">Java Tutorial</a> or <a title="iBATIS.NET DataMapper Quick Start Guide" href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Quick+Start+Guide" target="_new">.NET Quick Start Guide</a>!</p>

    </div>

    <h2>News</h2>

      <h3>iBATIS Java 2.1.6 - Maintenance Release</h3>
      <p>(Nov 5, 2005) Just released a maintenance release to take care of the summer bug list.  This puts us
      in a good spot to start planning for 2.2.0, where we're currently discussing some changes to the current
      version support levels, which will enable us to add a bunch of new features.  If you aren't on the dev or
      Java mailing list, then join up to discuss!  For now, enjoy the cleanliness of version 2.1.6.
      </p>
      <p><a href="downloads.html">Get iBATIS 2.1.6 from the Downloads page.</a><br/>

  </body>
</html>