<html>
<head>
  <title>iBATIS for Java</title>
</head>

<body>

<!-- start content -->
<div id="content">

  <div class="post">
    <h1 class="title">iBATIS for Java</h1>
    <div class="entry">
      <h2>Download</h2>
      <form action="[location]" method="get" id="SelectMirror">
        <p>The currently selected mirror is <b>[preferred]</b>.  If you encounter a problem with this
         mirror, please select another mirror.
           <select name="Preferred"> [if-any http] [for http]<option value="[http]">[http]</option>[end][end][if-any ftp]  [for ftp]<option value="[ftp]">[ftp]</option>[end][end][if-any backup]  [for backup]<option value="[backup]">[backup] (backup)</option>[end][end]</select>
           <input type="submit" value="Change" />
        </p>
      </form>

<div style="background-color:#222211;padding:5px">
      <h4>iBATIS 3 BETA 1 (JDK 1.5 Required)</h4>
      <ul>
        <li>
		  <a href="[preferred]/ibatis/binaries/ibatis.java/ibatis-3/ibatis-3-core-3.0.0-190/ibatis-3-core-3.0.0.190.zip"><b>Download iBATIS Java 3.0 Beta 1</b></a>
		  <br/> [Status: <b>BETA</b> | Aug 8, 2009]
		  <br/>
          [<a href="http://www.apache.org/ibatis/binaries/ibatis.java/ibatis-3/ibatis-3-core-3.0.0-190/ibatis-3-core-3.0.0.190.zip.md5">MD5</a>]
          [<a href="http://www.apache.org/ibatis/binaries/ibatis.java/ibatis-3/ibatis-3-core-3.0.0-190/ibatis-3-core-3.0.0.190.zip.asc">PGP</a>]
      </li>
      <li>
	    <a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-3/doc/en/iBATIS-3-User-Guide.pdf">User Guide (English)</a>
      </li>
      </ul>
</div>


      <h4>Current Release  2.3.4 (JDK 1.5 Required)</h4>
      <ul>
        <li>
		  <a href="[preferred]/ibatis/binaries/ibatis.java/ibatis-2.3.4.726.zip"><b>Download iBATIS Java 2.3.4</b></a>
          <br/> Includes binaries, source, and documentation
		  <br/> [Status: <b>GA</b> | Sep 19, 2008]
		  <br/>
          [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.4.726.zip.md5">MD5</a>]
          [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.4.726.zip.asc">PGP</a>]

          <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=10601&styleName=Html&version=12313310">Release Notes </a>
        </li>
      </ul>
      <h4>Example Application</h4>
      <ul>
        <li><a href="[preferred]/ibatis/binaries/ibatis.java/JPetStore-5.0.zip">JPetStore 5.0 Example
          Application</a>
          [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/JPetStore-5.0.zip.md5">MD5</a>]
          [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/JPetStore-5.0.zip.asc">PGP</a>]
        </li>
      </ul>
    </div>
  </div>


  <div class="post">
    <h1 class="title">Tools</h1>
    <div class="entry">
      <h2>Ibator</h2>
        <p>Ibator is a code generator and Eclipse plugin.  It can be used
            to get a head start on your project by generating your Beans,
            Mappings and SQL from an existing database schema.
        </p>
        <p class="more"><a href="ibator.html">Learn more about Ibator...</a></p>
    </div>
  </div>

  <div class="post">
    <h1 class="title">Old Stuff</h1>

    <div class="entry">
      <p>If you do not see the file you need, or you're looking for an
        older version, please see the release archives.</p>
      <ul>
        <li><a href="http://archive.apache.org/dist/ibatis/binaries/ibatis.java/"><b>Past Releases at Apache
          (2.1.5+)</b></a></li>
        <li><a href="http://sourceforge.net/project/showfiles.php?group_id=61326">Past Releases at SourceForge (1.0 -
          2.1.5)</a></li>
      </ul>
      <h4>2.3.0 (JDK 1.4)</h4>

      <p>The last JDK 1.4 compatible release was 2.3.0. It is a stable release that was in production for over a year,
        but obviously lacks a few features
        and fixes of the current release. Sun will be <a href="http://java.sun.com/products/archive/eol.policy.html">discontinuing
        support</a> for JDK 1.4 in October of 2008.</p>
      <ul>
        <li>
          <a href="[preferred]/ibatis/binaries/ibatis.java/ibatis-2.3.0.677.zip"><b>Download iBATIS Java 2.3.0</b></a>
          <br/>[<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.0.677.zip.md5">MD5</a>]
          [<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/ibatis-2.3.0.677.zip.asc">PGP</a>]
          <a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=10601&styleName=Html&version=12312035">Release
            Notes</a>
          <br/>[Status: General Availability | Dec 1, 2006]
        </li>
      </ul>
      <h4>DAO</h4>

      <p>The DAO Framework was deprecated in 2.3, but will remain permanently available
        as it was in 2.2.</p>
      <ul>
        <li>
          <a href="[preferred]/ibatis/binaries/ibatis.java/iBATIS_DAO-2.2.0.638.zip"><b>Standalone DAO Framework
            2.2.0</b></a>
          <br/>[<a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/iBATIS_DAO-2.2.0.638.zip.md5">MD5</a> |
          <a href="http://www.apache.org/dist/ibatis/binaries/ibatis.java/iBATIS_DAO-2.2.0.638.zip.asc">PGP</a> ]
        </li>
      </ul>
    </div>
  </div>


  

</div>
<!-- end content -->
<!-- start sidebar -->
<div id="sidebar">
  <ul>
    <li>
      <h2>Resources</h2>
      <ul>

        <li><b>Community</b></li>
        <li><a title="iBATIS Wiki" href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home"
               target="_new">Wiki</a></li>
        <li><a title="iBATIS FAQ"
               href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Frequently+Asked+Questions"
               target="_new">FAQ</a></li>
        <li><a title="Subversion"
               href="http://svn.apache.org/repos/asf/ibatis/trunk"
               target="_new">Subversion</a>
            (<a style="background:none;padding-left:0"
                title="FishEye"
                href="http://fisheye6.cenqua.com/viewrep/ibatis"
                target="_new">FishEye</a>)</li>


        <li><b>Tools</b></li>
        <li><a href="ibator.html">Ibator</a></li>


        <li><b>Issue Tracking</b></li>
        <li><a title="iBATIS for Java Issue Tracker" href="http://issues.apache.org/jira/browse/IBATIS" target="_new">JIRA
          Issue Tracker</a></li>
        <li><a title="iBATIS Issue Tracker Sign Up Page" href="http://issues.apache.org/jira/secure/Signup!default.jspa"
               target="_new">JIRA Sign Up Page</a></li>


        <li><b>Mailing Lists</b></li>
        <li><a href="mailto:user-java-subscribe@ibatis.apache.org">Subscribe</a> (<a
            style="background:none;padding-left:0" href="mailto:user-java-digest-subscribe@ibatis.apache.org">Digest</a>)
        </li>
        <li><a href="mailto:user-java-unsubscribe@ibatis.apache.org">Unsubscribe</a> (<a
            style="background:none;padding-left:0"
            href="mailto:user-java-digest-unsubscribe@ibatis.apache.org">Digest</a>)
        </li>
        <li><a href="mailto:user-java@ibatis.apache.org">New Message</a></li>
        <li><a href="http://www.mail-archive.com/user-java@ibatis.apache.org/" target="_new">Archives/Search</a></li>


        <li><b>Online Javadocs</b></li>
        <li><a target="_blank" href="/docs/java/user">User Javadoc</a></li>
        <li><a target="_blank" href="/docs/java/dev">Developer Javadoc</a></li>
        <li><a target="_blank" href="/docs/tools/ibator">Ibator Documentation</a></li>


        <li><b>Documentation</b></li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/en/"
               target="_new">English</a></li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/de/"
               target="_new">German</a></li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/cn/"
               target="_new">Chinese</a></li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/ko/"
               target="_new">Korean</a></li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/ja/" target="_new">Japanese</a>
        </li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/fr/" target="_new">French
          (tutorial)</a></li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/it/" target="_new">Italian
          (tutorial)</a></li>
        <li><a href="http://svn.apache.org/repos/asf/ibatis/trunk/java/ibatis-2/ibatis-2-docs/es/" target="_new">Spanish
          (tutorial)</a></li>
        <li><a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Not+Yet+Documented" target="_new">Undocumented
          features</a></li>
      </ul>
    </li>

  </ul>
</div>
<!-- end sidebar -->

</body>
</html>
