<html>
<head>    
    <title>iBATIS Mailing Lists</title>
</head>

<body>

      <h2>Mailing Lists</h2>

      <p>We have different mailing lists for iBATIS for Java and iBATIS for .NET users. If you have questions,
      there are many users on the lists who are more than willing to help every day of the week!  Our
      user lists are archived and searchable.</p>

      <p>The iBATIS Developer mailing list is where we discuss the future of the Data Mapper and
      Data Access frameworks.  Every once in a while, we talk about bug fixes too.  ;-)</p>

      <h2>iBATIS for Java</h2>
      <table width="100%">
        <tr >
          <td width="20%">Java User Mailing List &nbsp;</td>
          <td width="20%"><a href="mailto:user-java-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%"><a href="mailto:user-java@ibatis.apache.org">New Message</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/user-java@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/ibatis-user-java@incubator.apache.org/" target="_new">Old Incubator Archives</a></td>
        </tr>
        <tr >
          <td width="20%">Java DIGEST User Mailing List &nbsp;</td>
          <td width="20%"><a href="mailto:user-java-digest-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
        </tr>
      </table>

      <h2>iBATIS for .NET</h2>
      <table width="100%">
        <tr >
          <td width="20%">.NET User Mailing List</td>
          <td width="20%"><a href="mailto:user-cs-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%"><a href="mailto:user-cs@ibatis.apache.org">New Message</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/user-cs@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/ibatis-user-cs@incubator.apache.org/" target="_new">Old Incubator Archives</a></td>
        </tr>
        <tr >
          <td width="20%">.NET DIGEST User Mailing List &nbsp;</td>
          <td width="20%"><a href="mailto:user-cs-digest-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
          <td width="20%">&nbsp;</td>
        </tr>
      </table>

      <h2>iBATIS Development</h2>
      <table width="100%">
        <tr >
          <td width="20%">Developer Mailing List</td>
          <td width="20%"><a href="mailto:dev-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%"><a href="mailto:dev@ibatis.apache.org">New Message</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/dev@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://www.mail-archive.com/ibatis-dev@incubator.apache.org/" target="_new">Old Incubator Archives</a></td>
        </tr>
        <tr >
          <td width="20%">Subversion Commits List</td>
          <td width="20%"><a href="mailto:commits-subscribe@ibatis.apache.org">Subscribe</a></td>
          <td width="20%">&nbsp;</td>
          <td width="20%"><a href="http://www.mail-archive.com/commits@ibatis.apache.org/" target="_new">Archives/Search</a></td>
          <td width="20%"><a href="http://mail-archives.apache.org/mod_mbox/incubator-ibatis-commits/" target="_new">Old Incubator Archives</a></td>
        </tr>
      </table>

      <h2>For list moderators...</h2>
      
<script type="text/javascript">
  function buildAddress(oForm){
    var userAddress = oForm.email.value;
    var list = oForm.list;
    var listAddress = list.item(list.selectedIndex).value;
    var listAddressPart = listAddress.split("@");
    var userAddressPart = userAddress.split("@");
    var newAddressText = listAddressPart[0] + "-" + userAddressPart[0] + "=" + userAddressPart[1] + "@" + listAddressPart[1];
    var newAddress = document.getElementById("newAddress");
    newAddress.innerHTML = newAddressText;
    newAddress.href = "mailto:" + newAddressText;
  }
</script>
<p>This form is for those times when someone emails an 'unsubscriebe' request to the list, or sets their auto-responer up on the list.</p>
<p>It changes an address like 'john@host.domain' to 'user-java-unsubscribe-john=host.domain@ibatis.apache.org'.</p>

<form action="mail.html">
  <table border="0">
    <tr>
      <td>
        List:
        <select name="list">
          <option>user-java-unsubscribe@ibatis.apache.org</option>
          <option>user-java-digest-unsubscribe@ibatis.apache.org</option>
          <option>user-cs-unsubscribe@ibatis.apache.org</option>
          <option>user-cs-digest-unsubscribe@ibatis.apache.org</option>
          <option>dev-unsubscribe@ibatis.apache.org</option>
          <option>commits-unsubscribe@ibatis.apache.org</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Email Address: 
        <input onchange="buildAddress(this.form)" size="40" name="email" value="john@host.domain"/>
      </td>
    </tr>
    <tr>
      <td>

        <input type="button" onclick="buildAddress(this.form)" value="Show address" />
        Click to see the unsubscribe address.
      </td>
    </tr>
      <tr>
          <td>
              <a id="newAddress" href="#"></a>
              <script>buildAddress(document.forms[0])</script>
          </td>
      </tr>
  </table>
</form>

</body>
</html>
