<div id="NewsByte" valign="top" align="right">
<p><a title="iBATIS Events" href="events.html">Upcoming iBATIS Event: November 11th, 2005 - Denver, Colorado, USA<br/>Rocky Mountain Software Symposium</a></p>
</div>
