<div id="NewsByte" valign="top" align="right">
<p><a title="iBATIS Events" href="events.html">Upcoming iBATIS Event: June 23, 2005<br/>SUN Microsystems Java Conference (Milan, Italy)</a></p>
</div>
