<html>
<head>    
    <title>iBATIS Documentation</title>
</head>

<body>

<table>
  <tr>
    <td width="33%">
      <h2>iBATIS for Java</h2>
        <p>iBATIS for Java offers both downloadable and online documentation.</p>
        <p><strong><a href="javadownloads.cgi">Downloadable (PDF) documentation</a> for iBATIS for
          Java is available. We recommend you start with this before moving onto the JavaDocs.</strong>
        </p>
        <p>Online Javadoc can be found here and is also included with the distribution:</p>
        <ul>
          <li><a target="_blank" href="/docs/java/user">User Javadoc</a></li>
          <li><a target="_blank" href="/docs/java/dev">Developer Javadoc</a></li>
        </ul>
      <h2>Abator</h2>
        <p>Abator documentation is included with all Abator downloads, and is also
           integrated into the Eclipse help system when you install the Abator plugin for Eclipse.
        </p>

        <p>Online documentation for Abator can be found here:</p>
        <ul>
          <li><a target="_blank" href="/docs/tools/abator">Abator Documentation</a></li>
        </ul>
    </td>
    <td width="33%">
      <h2>iBATIS for .NET</h2>
      <p>iBATIS for .Net offers both downloadable and online documentation.</p>
      <p><strong><a href="dotnetdownloads.cgi">Downloadable (PDF and CHM) documentation</a>
        for iBATIS for .NET is available.  It is the same as the following
        online reference documentation.</strong>
      </p>
      <p>Online documentation can be found here:</p>
      <ul>
        <li><a target="_blank" href="/SDK/dotnet/index.html">SDK</a></li>
      </ul>
      <p>SDK documentation can be found here:</p>
      <ul>
        <li><a target="_blank" href="/docs/dotnet/dataaccess/index.html">C# DataAccess Developer Guide</a></li>
      </ul>
    </td>
    <td width="33%">
      <h2>iBATIS for Ruby</h2>
        <p>Online documentation for iBATIS for Ruby can be found here in familiar Ruby documentation
          format:</p>
        <ul>
          <li><a href="docs/ruby/">iBATIS for Ruby Documentation</a></li>
        </ul>
    </td>
  </tr>
</table>

<h2>Wiki</h2>
  <p>The iBATIS wiki is a great source of additional information and FAQs.
     Everyone is welcome to add documentation to the wiki.  Superior wiki
     articles may be promoted to the official documentation.</p>
  <p>
    <a href="http://opensource.atlassian.com/confluence/oss/display/IBATIS/Home" target="_blank">Access the wiki.</a>
  </p>
</body>

</html>