<% if @user && @user.mylist then %>

  <p>
    Pet Favorites
    <br/>
    Shop for more of your favorite pets here.
  </p>
  <ul>
	<% @user.mylist.each do |product| %>
      <li><%= link_to "#{product.name} (#{product.product_id})", :controller => 'shop', :action => :product, :product => product.product_id %></li>
	<% end %>
  </ul>

  <p>
	TODO paginate mylist
  </p>

<% end %>


