<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<properties resource="appSettings.config"/>

	<!-- Database connection information -->
	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="Blogs" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Blog;Integrated Security=true;"/>
	</database>

	<sqlMaps>
		<sqlMap resource="maps_sqlserver\Author.xml" />
		<sqlMap resource="maps_sqlserver\Blog.xml" />
		<sqlMap resource="maps_sqlserver\Post.xml" />
	</sqlMaps>

</sqlMapConfig>
